@mixin flex($hov:space-between, $col:center){
    display: flex;
    justify-content: $hov;
    align-items: $col;
}

@mixin bgPosition($wd:0, $hg:0 ,$top:0, $left:0, $con:'', $bg:'') {
    position: absolute;
    top: $top;
    left: $left;
    content: $con;
    background: url($bg) no-repeat 50% 50%;
    width: $wd;
    height: $hg;
}

@mixin container(){
    width: $min-width;
    margin: 0 auto;
}

@mixin headTitle(){
    margin: 0;
    font-size: $fontF;
    font-weight: 200;
    line-height: 58px;
    color: $colorB;
}

@mixin textHidden() {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
